@model IEnumerable<MovieRama.ModelsView.MoviesSetup.Index>
@{
    ViewBag.Title = "User's Home Page";
}

<div class="row">
    <h3>Sort by</h3>
    <div>
        <a class="btn btn-default" href="/MoviesSetup/Index/?orderby=@Convert.ToInt32(MovieRama.ModelsView.Home.Definitions.CollectionOrderBy.Likes)">Likes</a>
        <a class="btn btn-default" href="/MoviesSetup/Index/?orderby=@Convert.ToInt32(MovieRama.ModelsView.Home.Definitions.CollectionOrderBy.Hates)">Hates</a>
        <a class="btn btn-default" href="/MoviesSetup/Index/?orderby=@Convert.ToInt32(MovieRama.ModelsView.Home.Definitions.CollectionOrderBy.Date)">Date Added</a>
    </div>
</div>
<br />
<div id="MainContainer" class="row">
    <div id="AvailableMovies" class="col-md-9 panel-group">
        <h3>Available Movies</h3>
        @if (Model == null)
        {
            <div class="jumbotron">
                <span class="text-info">Sorry... No Movies yet   &#x2639;</span>
                <br />
                <span class="text-success">Perhaps add some ;)</span>
            </div>
        }
        else
        {
            foreach (var item in Model)
            {
                var spanDiff = DateTime.UtcNow - item.Movies.DateAdded;
                var timeSpanStr = string.Empty;
                if (spanDiff.TotalDays > 1)
                {
                    timeSpanStr += string.Format("{0} Days ", spanDiff.Days);
                }
                if (spanDiff.TotalHours > 1)
                {
                    timeSpanStr += string.Format("{0} Hours ", spanDiff.Hours);
                }
                if (spanDiff.TotalMinutes > 1)
                {
                    timeSpanStr += string.Format("{0} Minutes ", spanDiff.Minutes);
                }
                if (spanDiff.TotalSeconds > 1)
                {
                    timeSpanStr += string.Format("{0} Seconds ", spanDiff.Seconds);
                }
                if (string.IsNullOrWhiteSpace(timeSpanStr))
                {
                    timeSpanStr = "unknown post date";
                }
                else
                {
                    timeSpanStr += "ago";
                }

                <div id=@string.Format("divMovie{0}", item.Movies.Id) class="panel panel-info">
                    <div class="panel-heading">@item.Movies.Title</div>
                    <small>
                        Posted by
                        <a href="/MoviesSetup/MoviesByUser/?id=@item.UserId">@item.PostedByUser</a>
                        (@timeSpanStr)
                    </small>
                    <div class="panel-body">@item.Movies.Description</div>

                    <div class="panel-footer">
                        @if (item.FromCurrentUser)
                        {
                            <span id="likesLink">@string.Format("{0} Likes", item.Likes)</span>
                            <span id="likeHatesSeparator">|</span>
                            <span id="hatesLink">@string.Format("{0} Hates", item.Hates)</span>
                        }
                        else
                        {
                            <a id="likesLink" class="glyphicon glyphicon-arrow-up text-success" href="/MoviesSetup/UserDisposition/?movieId=@item.Movies.Id&value=@Convert.ToInt32(MovieRama.ModelsView.Home.Definitions.DispositionResult.Like)">@string.Format("{0} Likes", item.Likes)</a>
                            <span id="likeHatesSeparator">|</span>
                            <a id="hatesLink" class="glyphicon glyphicon-arrow-down text-warning" href="/MoviesSetup/UserDisposition/?movieId=@item.Movies.Id&value=@Convert.ToInt32(MovieRama.ModelsView.Home.Definitions.DispositionResult.Hate)">@string.Format("{0} Hates", item.Hates)</a>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div id="ui_buttons" class="col-md-3">
        <a href="/MoviesSetup/Add" class="btn-lg btn-success">Add a New Movie</a>
    </div>
</div>
